#popup {
    background-color: red;
    width: 250px;
    height: 250px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}

#popup div {
    color: white;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 40%;
}